
      <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">What We Do</h2>
            <h3 class="section-subheading text-muted">Novit.AI provides fully integrated, bespoke artificial intelligence solutions for your business. </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Data Gathering</h4>
            <p class="text-muted">We get data from space with advanced radar satellites, inside a remote oil pipeline with our ultrasonic sensors, from your existing CCTV cameras or CRM archives</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Machine Learning</h4>
            <p class="text-muted">Our experts train our neural network models with bespoke data, and have artificial intelligence automate your industrial processes while improving itself on the job</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Deep Insights</h4>
            <p class="text-muted">We extract and translate the outputs of our artificial intelligence into easy-to-understand graphs and direct insights based on your exact requirements.</p>
          </div>
        </div>
      </div>
    </section>
